:host {
  display: flex;
  align-items: center;
  min-height: 100%;
  background-color: var(--neutral-800);
  padding: 32px 16px;
}

.scene {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 512px;
  min-height: 384px;
  margin-inline: auto;
  padding: 32px;
  border-radius: 16px;
  background-color: var(--neutral-50);
}
